h1{
    text-align: center;
    color: white;
    font-family:luminari;
}
h2{
    color:DarkGrey;
    font-family:luminari;
    text-align: center;
    text-weight: bold;
}
img{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:50%;
    height:100%
}
p{
    font-family:luminari;
}
.topnav{
    background-color:DarkGrey;
    overflow:hidden;
}
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

html {
    background-color:Lavender;
}
  
